:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fafbfc;
}

header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.75);
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1.25rem rgb(0 0 0 / 5%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

header nav {
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  width: auto;
}

header nav ul {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  width: auto;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: auto;
  margin-left: auto;
}

header ul {
  list-style: none;
}

header li a:link,
header li a:visited {
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #24292e;
  padding-left: 0.5rem;
  padding-right: 0.3rem;
  font-size: 14px;
}

header li.active a:link,
header li.active a:visited {
  color: #586069;
}

header li.octodex a:link,
header li.octodex a:visited {
  font-weight: 600;
  font-size: 16px;
}

main {
  background-color: #fafbfc;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.image {
  border: 1px solid #b8babd;
  border-radius: 10px;
}

article {
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

section article ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

article li {
  list-style: none;
  margin: 0;
}

article li a:link,
article li a:visited {
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  color: #24292e;
  font-size: 14px;
  text-decoration: none;
}

footer {
  width: auto;
  padding: 24px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  border-top: 1px #e1e4e8 solid;
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  color: #586069;
}

footer p {
  margin-top: 0;
  margin-bottom: 10px;
  color: #586069;
}
